<div class="p-6 bg-gray-100 relative rounded shadow">
  <div>
    <div>
      <h1 class="font-semibold text-base">
        Asignacion de Negocios para el usuario {{ dataUser.email }}
      </h1>
    </div>
  </div>
  <form [formGroup]="form" novalidate class="space-y-4" (ngSubmit)="actionForm()">
    <div class="pt-2 flex flex-col md:flex-row md:gap-3">
      <div class="relative z-0 w-full group w-full md:w-1/2">
        <select formControlName="business" name="business_field"
          class="block py-2.5 pt-5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 focus:border-federal_blue focus:outline-none focus:ring-0 focus:border-federal_blue peer">
          <option value="">Seleccione Negocio</option>
          <option [value]="business.id" *ngFor="let business of dataBusiness">
            {{ business.name }}
          </option>
        </select>
        <label for="business_field"
          class="pt-2 peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-federal_blue peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Negocio</label>
        <div *ngIf="form.controls.business.touched">
          <p *ngIf="form.controls.business.hasError('required')"
            class="font-medium text-red-500 text-xs mt-1 mb-4 ml-1">
            El Negocio es obligatorio
          </p>
        </div>
      </div>
      <div class="relative z-0 w-full group w-full md:w-1/2">
        <select formControlName="rol" name="rol_field"
          class="block py-2.5 pt-5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 focus:border-federal_blue focus:outline-none focus:ring-0 focus:border-federal_blue peer">
          <option value="">Seleccione Rol</option>
          <option [value]="rol.id" *ngFor="let rol of dataUser.roles">
            {{ rol.name }}
          </option>
        </select>
        <label for="rol_field"
          class="pt-4 md:pt-2 peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-federal_blue peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Rol</label>
        <div *ngIf="form.controls.rol.touched">
          <p *ngIf="form.controls.rol.hasError('required')" class="font-medium text-red-500 text-xs mt-1 mb-4 ml-1">
            El Rol es obligatorio
          </p>
        </div>
      </div>
    </div>
    <div>
      <button
        class="py-2 px-2 text-xs rounded bg-federal_blue hover:bg-federal_blue-300 transition-colors duration-300 text-white">
        <fa-icon title="Editar Usuario" class="text-white" [icon]="faUserPlus"></fa-icon>
        Asignar
      </button>
    </div>
  </form>
</div>