<div class="p-6 bg-gray-100 relative rounded shadow">
    <div>
        <div>
            <h1 class="font-semibold text-base">Asignacion de roles para el usuario {{dataUser.email}}</h1>
        </div>
    </div>
    <div>
        <table class="w-full text-sm text-left text-gray-500 table-auto rounded-lg border overflow-hidden">
            <thead class="bg-grayFirst">

                <tr class="text-xs text-federal_blue-100 uppercase">
                    <th class="px-4 py-2 text-left"></th>
                    <th class="px-4 py-2 text-left">Rol</th>
                </tr>
            </thead>
            <tbody class="bg-white">

                <tr class="border-b border-grayFirst" *ngFor="let rol of dataRols">
                    <td class="py-2 px-4 text-left">
                        <div class="flex items-center">
                            <app-input [checked]="hasRole(dataUser, rol)" typeInput="checkbox" color="vivid_sky_blue"
                                classData="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded"
                                color="vivid_sky_blue"></app-input>
                        </div>
                    </td>
                    <td class="py-2 px-4 text-left">{{rol.name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>