<div class="p-6 bg-gray-100 relative rounded shadow">
  <div>
    <div *ngIf="action; else editUser">
      <h1 class="font-semibold text-base">Crear Nuevo Rol</h1>
    </div>
    <ng-template #editUser>
      <h1 class="font-semibold text-base">Editar Rol {{ dataRol.name }}</h1>
    </ng-template>
    <form [formGroup]="form" novalidate class="space-y-4" (ngSubmit)="actionForm(action)">
      <div class="pt-2">
        <div class="relative z-0 w-full mb-3 group">
          <input #nameInput type="name" formControlName="name" name="name" id="name"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:border-federal_blue focus:outline-none focus:ring-0 focus:border-federal_blue peer"
            placeholder=" " required />
          <label for="name"
            class="pt-2 peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-federal_blue peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Rol</label>
        </div>
        <div *ngIf="form.controls.name.touched && form.controls.name.invalid">
          <p *ngIf="form.controls.name.hasError('required')" class="font-medium text-red-500 text-xs mt-1 mb-4 ml-1">
            El Nombre del rol es obligatorio
          </p>
        </div>
      </div>
      <div *ngIf="action; else editRolButton">
        <button
          class="py-2 px-2 text-xs rounded bg-federal_blue hover:bg-federal_blue-300 transition-colors duration-300 text-white">
          <fa-icon title="Editar Usuario" class="text-white" [icon]="faUserPlus"></fa-icon>
          Crear
        </button>
      </div>
      <ng-template #editRolButton>
        <button
          class="py-2 px-2 text-xs rounded bg-federal_blue hover:bg-federal_blue-300 transition-colors duration-300 text-white">
          <fa-icon title="Editar Usuario" class="text-white" [icon]="faPenToSquare"></fa-icon>
          Editar
        </button>
      </ng-template>
    </form>
  </div>
</div>
