<div class="flex h-screen">
  <div class="grid w-full m-auto grid-cols-layout">
    <aside class="bg-federal_blue relative ">
      <div class="flex items-center justify-center p-4">
        <div class="logo">
          <h2 class="text-white font-semibold text-xl">BusinessAdmin</h2>
        </div>
      </div>
      <div class="sidebar bg-federal_blue flex flex-col">
        <a
          [routerLink]="['dashboard']"
          class="transition-colors duration-500 flex items-center pl-7 p-3 text-federal_blue-900 flex items-center w-full p-2 text-base transition duration-75 group text-federal_blue-900 hover:bg-marian_blue hover:text-white"
          routerLinkActive="bg-blue_green text-white"
        >
          <h3 class="font-medium text-sm">Dashboard</h3>
        </a>
        <a
          routerLink="users"
          class="transition-colors duration-500 flex items-center pl-7 p-3 text-federal_blue-900 flex items-center w-full p-2 text-base transition duration-75 group text-federal_blue-900 hover:bg-marian_blue hover:text-white"
          routerLinkActive="bg-blue_green text-white"
        >
          <h3 class="font-medium text-sm">Usuarios</h3>
        </a>
        <a
        routerLink="rols"
        class="transition-colors duration-500 flex items-center pl-7 p-3 text-federal_blue-900 flex items-center w-full p-2 text-base transition duration-75 group text-federal_blue-900 hover:bg-marian_blue hover:text-white"
        routerLinkActive="bg-blue_green text-white"
      >
        <h3 class="font-medium text-sm">Roles</h3>
      </a>
        <a
          href="#"
          class="transition-colors duration-500 absolute bottom-0 flex items-center pl-7 p-3 text-federal_blue-900 flex items-center w-full p-2 text-base transition duration-75 group text-federal_blue-900 hover:bg-marian_blue hover:text-white"
          routerLinkActive="bg-blue_green text-white"
          >
          <h3 class="font-medium text-sm">Logout</h3>
        </a>
      </div>
    </aside>
    <main class="flex-grow h-screen bg-mainApp">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
