<div class="flex h-screen">
  <div class="grid w-full m-auto grid-cols-layout">
    <aside class="bg-federal_blue">
      <div class=" flex items-center justify-center mt-8">
        <div class="logo">
         <h2 class="text-white font-semibold text-xl">BusinessAdmin</h2>
        </div>
      </div>
      <div class="sidebar bg-federal_blue flex flex-col ">
        <a [routerLink]="['dashboard']" class="flex items-center text-federal_blue-900">
          <h3 class="font-medium text-sm">Dashboard</h3>
        </a>
        <a routerLink="users" class="flex items-center text-federal_blue-900">
          <h3 class="font-medium text-sm">Usuarios</h3>
        </a>
        <a href="#" class="flex items-center text-federal_blue-900">
          <h3 class="font-medium text-sm">Logout</h3>
        </a>
      </div>
    </aside>
    <main class="flex-grow h-screen bg-mainApp">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>